# Node modules
node_modules/

# Coverage (evidências geradas automaticamente)
coverage/
frontend/coverage/
backend/coverage/

# Cache folders
.cache/

# Arquivos temporários do eslint e pack
*.eslintcache
*.pack

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*